@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import "primereact/resources/themes/lara-light-cyan/theme.css";

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "JetBrains Mono", monospace;
  /* line-height: 1.5; */
  /* font-weight: 400; */

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  background-color: #242424;
  /* background-color: #dbdbdb; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "JetBrains Mono", monospace;
}

html {
  color: #000000;
}

body {
  margin: 0;
  padding: 0;
}

input, textarea, select {
  color: #000000;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important; /* Background fix */
  -webkit-text-fill-color: black !important; /* Set text color to black */
}